<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <%= link_to "idimo", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'ユーザ検索', homes_show_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'マイプロフィール', users_show_path(id:current_user.id), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'フォロー中', homes_check_path(status:'follow'), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'フォロワー', homes_check_path(status:'follower'), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ダイレクトメッセージ一覧', rooms_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: 'nav-link', method: :post %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>