<div class="container">
  <% case params[:status] %>
  <% when 'follow' then %>
    <h1>フォロー中</h1>
  <% when 'follower' then %>
    <h1>フォロワー</h1>
  <% end %>
  <table class="table">
    <tr>
      <th>ユーザ名</th>
      <th>好きな動物</th>
      <th>自己紹介</th>
    </tr>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <% case params[:status] %>
        <% when 'follow' then %>
          <tr>
            <% if current_user.following?(user) %>
              <td class="text-break"><%= link_to user.name, users_show_path(id:user.id) %></td>
              <td class="text-break"><%= user.animal %></td>
              <% if user.profile.nil? %>
                <td class="text-break"><%= user.profile %></td>
              <% else %>
                <td class="text-break"><%= user.profile.truncate(30) %></td>
              <% end %>
            <% end %>
          </tr>
        <% when 'follower' then %>
          <tr>
            <% if user.following?(current_user) %>
              <td class="text-break"><%= link_to user.name, users_show_path(id:user.id) %></td>
              <td class="text-break"><%= user.animal %></td>
              <% if user.profile.nil? %>
                <td class="text-break"><%= user.profile %></td>
              <% else %>
                <td class="text-break"><%= user.profile.truncate(30) %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>